.btn1
{
    height:45px;
    width:150px;
    border-radius: 10px;
    border:0px;
    background-color: rgb(14, 189, 55);
    color:#ffff;
    font-size:14px;
    cursor:pointer;
}

input[type=text]:focus
{
    outline-color:  rgb(0,92,168);
}

.btn1:hover{
    background-color: rgb(6, 163, 43);
}

.mainBlock
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageBlock
{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(174, 174, 174);
    /* border-radius: 10px 0px 0px 10px; */
    height:280px;
    width:150px;
    text-align: center;
    margin-top:50px;
    padding:10px;
}
.paginationBlock
{
    padding:10px;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    margin-top:50px;
    width:500px;
    height:280px;
    border:0.5px solid rgb(174, 174, 174);
    /* border-radius: 0 10px 10px 0px; */
    font-family:calibri;
    padding-left:50px;
  
}

.contact1
{
  font-size: 13px;
  color:rgb(6, 163, 43);
}

.address
{
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
}

.btndelete
{
    height:45px;
    width:150px;
    border-radius: 10px;
    border:0px;
    background-color: rgb(218, 51, 13);
    color:#ffff;
    font-size:14px;
    cursor:pointer;
}

.btndelete:hover{
    background-color: rgb(172, 41, 11);
}