*
{
    padding:0px;
    margin:0px;
}

.imgBlock
{
    width:700px;
    height:500px;
}
.imgBlock img{
    width:100%;
    height:100%;
}

.loginMainBlock
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logMainBlock
{
    width:500px;
    height:300px;
    /* border:2px solid rgb(180, 178, 178); */
    border-radius: 20px;
}


.logBlock 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:500px;
    height:400px;
    /* margin:20px; */
}

.logo1
{
    font-family: 'Righteous', cursive;
    color:rgb(0,92,168);
    font-style: normal;
    font-size:50px;
}

.btn
{
    width:350px;
    height: 45px;
    background-color:  rgb(14, 189, 55);
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 20px;
    color:#fff;
}

.btn:hover
{
    background-color:rgb(7, 163, 43);
    cursor: pointer;
}

.logimgBlock
{
    width:600px;
    height:500px;
}
.logimgBlock img{
    width:100%;
    height:100%;
}

.logtxtbgcolor:focus{
    outline-color: rgb(40,167,69);
}

span{
    padding: 10px;
}

input[type=password]
{
    width:350px;
    height: 45px;
    margin: 10px;
    border-radius: 10px;
    border:1px solid rgb(180, 178, 178);    
}

.footerblocklogin
{
    position:absolute;
    bottom:0;
    width:100%;
}